<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

    </system.web>

  <system.webServer>
    <handlers>
      <add name="latestHandler" verb="GET" path="latest.jpg" type="handlers.jpgHandler" />
      <add name="gifHandler" verb="GET" path="all.gif" type="handlers.gifHandler" />
    </handlers>

  </system.webServer>

  <connectionStrings>
    <add name="picConnect" connectionString="Data Source=BEAST;Initial Catalog=timelapse; User Id=poster; Password=poster;MultipleActiveResultSets=True"/>
  </connectionStrings>
  
</configuration>
